---
import Layout from "../layouts/Layout.astro";
import ChartsSection from "../components/ChartsSection.astro";
import Card from "../components/Card.astro";
import { translations, defaultLocale } from "../i18n/translations";

const t = translations[defaultLocale];
---

<Layout title="eTariffs">
  <div class="grid grid-cols-1 gap-4">
    <div class="flex flex-col gap-6 grid grid-cols-7 m-20">
      <div class="col-span-3 col-start-3 gap-6 flex flex-col">
        <h1 class="text-3xl">
          {t.titleLong}
        </h1>
        <Card title={t.home.whatIsTitle} colSpan="col-span-2">
          <p class="text-sm text-site-text" data-i18n="home.whatIsBody">
            {t.seo.description}
          </p>
        </Card>
      </div>
    </div>
    <ChartsSection />
  </div>
</Layout>
